@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  width: 90%;
  margin: auto;
}

header .header-img {
  text-align: center;
}

header .header-img .logo {
  margin-top: 50px;
}

header .header-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

header .header-list li {
  padding: 10px;
  margin-top: 50px;
}

header .header-list li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

header .header-list li a.active {
  background-color: #b3e5fc;
  padding: 10px;
  padding-bottom: 30px;
}

main {
  background-image: url("/images/fondo-pag-speciali.jpg");
}

main .main-container {
  width: 90%;
  margin: auto;
}

main .main-container h3 {
  color: #002d75;
  font-size: 40px;
  margin-top: 20px;
}

main .main-container .img-pasta {
  width: 558px;
  padding-right: 30px;
  padding-top: 30px;
}

main .main-container .list-pasta {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

footer {
  background-image: url("/images/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

footer .footer-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

footer .footer-container .footer-left .logo {
  margin-top: 50px;
}

