@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  width: 90%;
  margin: auto;
}

header .header-img {
  text-align: center;
}

header .header-img .logo {
  margin-top: 50px;
}

header .header-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

header .header-list li {
  padding: 10px;
  margin-top: 50px;
}

header .header-list li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

header .header-list li a.active {
  background-color: #b3e5fc;
  padding: 10px;
}

main {
  width: 90%;
  margin: auto;
}

h3 {
  color: #002d75;
  font-size: 40px;
  margin-top: 50px;
}

.img-pasta {
  width: 550px;
  padding-right: 30px;
  padding-top: 30px;
}

.list-pasta {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

