footer{
    background-image: url('/images/footer-montagne-bottom.jpg');
    background-repeat: no-repeat;
    background-position: bottom;

    .footer-container{
        @include container;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .footer-list{
            .logo{
                @include marginTop;
            }

            h2{
                color: $footerTextColor;
                padding-top: 50px;
            }
            ul{
                @include ulnodec;
                color: $footerTextColor;
                line-height: 30px;
            }
        }
    }
}