header{
  @include container;

  .header-img{
    text-align: center;

    .logo{
      @include marginTop;
    }
  }

  .header-list{
    display: flex;
    justify-content: center;
    @include ulnodec;

    & li{
      padding: 10px;
      @include marginTop;
    
      & a{
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
        color: black;

        &.active{
          background-color: $activeColor;
          padding: 10px;
          padding-bottom: 30px;
        }
      }
    }
  }
}









