main{
  background-image: url('/images/fondo-pag-speciali.jpg');

  .main-container{
    @include container;

    h3{
      color: $titleColor;
      font-size: 40px;
      margin-top: 20px;
    }

    .list-pasta{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      list-style: none;

      .img-pasta{
        display: block;
        width: 558px;
        padding-right: 35px;
        padding-top: 30px;
  
        &:hover{
          transition: transform .3s;
          -ms-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
  
          .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: 80%;
            background-color: $titleColor;
            opacity: 0.5;

             & a{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }
        }
     } 
   }
  }
}




