main{
  background-image: url('/images/fondo-pag-speciali.jpg');

  .main-container{
    @include container;

    h3{
      color: $titleColor;
      font-size: 40px;
      margin-top: 20px;
    }
    .img-pasta{
      width: 558px;
      padding-right: 30px;
      padding-top: 30px;
  }

  .list-pasta{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
  }
}




