main{
  background-image: url('/images/fondo-pag-speciali.jpg');

  .main-container{
    @include container;

    h3{
      color: $titleColor;
      font-size: 40px;
      margin-top: 20px;
    }

    .list-pasta{
      display: flex;
      flex-direction: row;
      display: inline-block;
      flex-wrap: wrap;
      list-style: none;

      .img-pasta{
        width: 550px;
        padding-right: 35px;
        padding-top: 30px;

        &:hover{
          display:block;
          transition: transform .3s;
          -ms-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }

        /* .overlay{
          position: absolute;
          top: 0;
          left: 0;
          width: 80%;
          height: 80%;
          background-color: $titleColor; */
        
          /* & a{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          }
        } */
      }
    } 
  }
}




